<!-- /templates/customers/account.liquid -->
<section class="pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="heading">ACCOUNT</h1>
        <P>Account details, orders and payments.</P>
      </div>
    </div>
  </div>
</section>

<section class="pb-5 basket_section ">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="nav flex-column sidenav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
             role="tab" aria-controls="v-pills-home" aria-selected="true">ORDER HISTORY</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
             role="tab" aria-controls="v-pills-profile" aria-selected="false">ADDRESSES</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
             role="tab" aria-controls="v-pills-messages" aria-selected="false">PAYMENT METHODS</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
             role="tab" aria-controls="v-pills-settings" aria-selected="false">MY DETAILS</a>
          <a class="nav-link" href="/account/logout">LOGOUT</a>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="container">
              <h4>Latest Order</h4>
              <div class="row no-gutters mt-5">
                <div class="col-md-7">
                  <h3>PRODUCT</h3>
                </div>
                <div class="col-md-4">
                  <h3>ORDER NUMBER</h3>
                </div>
                <div class="col-md-1">
                  <h3 class="text-center">&nbsp;</h3>
                </div>
              </div>
              <div class="row no-gutters">
                <p></p>
                <!-- test -->
<!--                 <div class="col-md-7">
                  <div class="basket">
                    <div class="d-flex justify-content-start">
                      <img src="assests/images/SEVILLE-1.png">
                      <div>
                        <h4>Saint Sithney Gin 70cl</h4>
                        <p>CORNISH GIN</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="basket mt-5">
                    <p>1234567890</p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="basket mt-5">
                    <div class="d-flex align-items-center justify-content-center">
                      <a href="#">view order</a>
                    </div>
                  </div>
                </div> -->
                <!-- test-->
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</section>