<h1 class="contact_heading">{{ section.settings.heading }}
</h1>
<img class="contactimg" src="{{ section .settings.image |img_url: 'master' }}">

{% schema %}
  {
    "name": "Contact Us",
    "class": "contact us",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "contact us"
      }
    ]
  }
{% endschema %}