{% comment %} <section class="cocktail">
  <img src="{{ 'allproductbg.png' | asset_url  }}" class="img-fluid">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center innerpagebannerbox">
      <h2 class="head">{{ page.title }}</h2>
    </div>
  </div>
</section>   {% endcomment %}
  {% section 'faq-page-bg-image' %}
  {% section 'sec-faq' %}