{% section 'our-story-banner' %}
{% section 'our_story_text_image' %}
{% section 'follow-as' %}

<section>{% comment %} <img src="{{ 'proudifull.png' | asset_url  }}" class="img-fluid pt-150" /> {% endcomment %}
  {% comment %} <img src="{{ 'ourstorybanner.png' | asset_url  }}" class="img-fluid" /> {% endcomment %}
</section>
{% comment %} <section class="ourstory">
<div class="container">
<div class="row">
{{ page.content }}
</div>
</div>
</section> {% endcomment %}