<section class="contact_section pt-100" style="background: url('https://cdn.shopify.com/s/files/1/0757/9441/5899/t/3/assets/contactus_bg.png');">

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        {% section 'contact-us' %}
      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-center align-items-center contactform">
          {% form 'contact' %}
            {% if form.posted_successfully? %}
              <h2 class="text-success">Thank you. One of our member will get in touch with you shortly.
              </h2>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="row form-group">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                  name="contact[name]">
              </div>
             <div class="col-md-6">
                <input
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  id="ContactFormEmail"
                  name="contact[email]">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="contact[body]" placeholder="Message"></textarea>
              </div>
              <div class="col-md-12">
                <input
                  type="submit"
                  value="submit"
                  class="ml-3 btn btn-primary checkout">
              </div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>